[submodule "rosdeps/genpy"]
	path = rosdeps/genpy
	url = https://github.com/asmodehn/genpy.git
[submodule "rosdeps/genmsg"]
	path = rosdeps/genmsg
	url = https://github.com/asmodehn/genmsg.git
        version = rosimport_improvements
[submodule "rosdeps/std_msgs"]
	path = rosdeps/std_msgs
	url = https://github.com/ros/std_msgs.git
[submodule "rosdeps/ros_comm_msgs"]
	path = rosdeps/ros_comm_msgs
	url = https://github.com/ros/ros_comm_msgs.git
