[submodule "rosdeps/std_msgs"]
	path = rosdeps/std_msgs
	url = https://github.com/ros/std_msgs.git
[submodule "rosdeps/ros_comm_msgs"]
	path = rosdeps/ros_comm_msgs
	url = https://github.com/ros/ros_comm_msgs.git
