[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ros-genmsg = {editable = true,git = "https://github.com/asmodehn/genmsg.git",ref = "setuptools"}
ros-genpy = {editable = true,git = "https://github.com/asmodehn/genpy.git",ref = "setuptools-kinetic"}
pytest = "*"

[requires]
python_version = "3.6"
