gitchangelog
twine

# this is needed as install dependency since we embed tests in the package.
pytest>=2.5.1
pytest-xdist  # for --boxed (careful with the version it will be moved out of xdist)


# source access to latest filefinder from git ...
-e git+https://github.com/asmodehn/filefinder2.git#egg=filefinder2

# ros dependencies (necessary when running tests from install)
-e git+https://github.com/asmodehn/genmsg.git@setuptools#egg=ros_genmsg
-e git+https://github.com/asmodehn/genpy.git@setuptools-kinetic#egg=ros_genpy
